
.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.img{
    
    grid-column: 1/4;

    /* margin: 100px; */
    width: 100%;
}
.hone{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    grid-column: 1/4;
    color: #3f5b8b;
    font-size: 20px;
}
.post{
    text-align: center;
    margin-top: 0px;

    grid-column: 1/4;
    font-size: 40px; 
}
.header-box-p{
    /* font-weight: 500; */
    font-size: 23px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #8b808b;
    grid-column: 1/4;
}


footer{
    background-color: #808080;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
}
.read{
    /* display: block; */
    text-align: center;
    grid-column: 1/2;
    background-color: #3f5b8b;
}
.read p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.r{
    font-size: 5px;
    margin-top: 0px;
}
.read .r{
    font-size: 15px;

}
.views{
    grid-column: 2/3;
    text-align: center;
    background-color: #3f5b8b;
}
.views p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.v{
    margin-top: 0px;
}
.views .v{
    font-size: 15px;
}
.comments{
    grid-column: 3/4;
    text-align: center;
    background-color: #3f5b8b;
}
.comments p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.c{
    margin-top: 0px;
    padding-bottom: 30px;
}
.comments .c{
    font-size: 15px;
}
/* *{
    border: solid 1px white;
} */