.main-para{
    font-size: 3em;
    line-height: 1em;
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
#active{
    background-color: white;
    color: steelblue;
}

a {
    font-size: 5em;
    color: white;
    margin: 40px;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-align: center;
}
.main-h1{
    font-size: 2.5em;
    color: steelblue;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
}
p {
    font-size: 2em;
    width: 50%;
    padding: 10px;
}

nav, footer{
    text-align: center;
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 10px;
}